/* voorstel 1 */
#logo-landing {
    max-width: 180px;
    margin-bottom: 20px;
}

/* voorstel 2 */
/* #logo-landing {
    max-width: 350px;
    margin-bottom: 20px;
} */

#map {
    min-height: 300px;
}

.contact {
    padding-bottom: 6em !important;
}

.text-left {
    text-align: left;
}

ul li {
    margin-bottom:20px;
}